@model WebBanHangOnline.Models.EF.ReviewProduct
<div class="add_review">
    @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_review",
        OnSuccess = "OnSuccessRE",
        OnFailure = "OnFailureRE",
        OnBegin = "OnBeginRE"
    }, new { @Id = "review_form" }))
    {
        <script>
            function OnBeginRE() {
                $('#review_submit').attr("disabled", "disabled");
            }

            function OnSuccessRE(res) {
                if (res.success) {
                    $('#review_form')[0].reset();
                }
            }
        </script>
        <div>
            <h1>Add Review</h1>
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(x => x.Fullname, new { @class = "form_input input_name", @placeholder = "You must login first", @id = "review_name", @readonly = "readonly" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "You must login first", @id = "review_email", @readonly = "readonly" })
            @Html.HiddenFor(x => x.Username)
            @Html.HiddenFor(x => x.ProductId, new { @value = ViewBag.ProductId })
            <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden" />
        </div>
        <div>
            <h1>Your Rating:</h1>
            <ul class="user_star_rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
            @Html.TextAreaFor(x => x.Content, new {@class="input_review",@rows="4",@placeholder="Your review"})
        </div>
        <div class="text-left text-sm-right">
            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
        </div>
    }
</div>
